@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.Favmeal-result {
    margin-top: 4rem;
}

#Favmeal {
    margin: 2.4rem 0;
}

.Favmeal-item {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.Favmeal-img img {
    width: 100%;
    display: block;
}

.Favmeal-name {
    padding: 1.5rem 0.5rem;
}

    .Favmeal-name h3 {
        font-size: 1.4rem;
    }

.Favrecipe-btn {
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: inline-block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

    .Favrecipe-btn:hover {
        background: var(--tenne-tawny-dark);
    }

/* meal details */
.Favmeal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

    .Favmeal-details::-webkit-scrollbar {
        width: 10px;
    }

    .Favmeal-details::-webkit-scrollbar-thumb {
        background: #f0f0f0;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }


/* js related */
.FavshowRecipe {
    display: block;
}

.Favmeal-details-content {
    text-align:center;
    margin: 2rem;
}

    .Favmeal-details-content p:not(.recipe-category) {
        padding: 1rem 0;
    }

.Favrecipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.Favrecipe-title {
    text-align:center;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.Favrecipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.Favrecipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.Favrecipe-instruct {
    padding: 1rem 0;
}

.Favrecipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.Favrecipe-link {
    margin: 1.4rem 0;
}

    .Favrecipe-link a {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
    }

        .Favrecipe-link a:hover {
            opacity: 0.8;
        }


/*  */
.FavnotFound {
    grid-template-columns: 1fr !important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */

@media screen and (min-width: 768px) {
    #Favmeal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .Favmeal-item {
        margin: 0;
    }

    .Favmeal-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #Favmeal {
        grid-template-columns: repeat(3, 1fr);
    }
}
